<script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
<%= stylesheet_link_tag "style", :plugin => "redmine_tree_issues", :media => "screen" %>
<%= javascript_include_tag "script.js", :plugin => "redmine_tree_issues" %>

<table class="list issues">
<thead><tr>
 <th class="col col0"><%= l(:field_issue) %></th>
 <th class="col col1"><%= l(:field_estimated_hours) %></th>
 <th class="col col2"><%= l(:field_done_ratio) %></th>
 <th class="col col3"><%= l(:field_assigned_to) %></th>
 <th class="col col4"><%= l(:field_category) %></th>
 <th class="col col5"><%= l(:field_start_date) %></th>
 <th class="col col6"><%= l(:field_due_date) %></th>
</tr></thead>
<%= render :partial => 'issueslist' %>
</table>
